h1 {
    color: white;
    background-color: black;
    font-size: 50px;
    font-family: "Monospace";
    border: 8px solid black;
    padding: 5px 10px;
    margin: 20px 10px 10px 10px;
    text-align: left;
}

#bluecolor {
    color:aqua;
    margin-left: 0px;
}

h2 {
    background-color: purple;
    font-family: 'Comic Sans MS', "Comic Sans", cursive;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;

}

h3 {
    background-color: rgb(156, 182, 231);
    text-decoration: underline;
    font-family: 'Comic Sans MS', "Comic Sans";
    color: midnightblue;
    text-align: right;
    padding: 10px 20px;
    margin: 10px;
}

